body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#photo-gallery {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery-img {
    width: 400px; /* Adjust based on your preference */
    height: 400px; /* Adjust based on your preference */
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease-in-out;
}

h2 {
    color: #ff1493;
    margin: 20px 0;
    font-size: 50px;
}

h3 {
    text-align: left;
}

h4 {
    text-align: left;
    font-style: italic;
}



#valentineForm label {
    margin: 50px;
    display: inline-block;
}

/* Simple wiggle animation for the "No" button */
@keyframes wiggle {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
}
